.block-header {
	margin: 0 auto;
	position: relative;
	text-align: center;
	&:after {
		content: '';
		position: absolute;
		left: 50%;
		bottom: -30px;
		transform: translateX(-50%);
		width: 100px;
		height: 2px;
		background: $primary;
	}
	h3,h2 {
		margin: 0px;
		font-size: 35px;
		line-height: 35px;
	}
	h3 {
		font-family: $lato;
		font-weight: 300;
		text-transform: lowercase;
		color: $gray;
		margin-bottom: 7px;	
	}
	h2 {
		font-family: $open-sans;
		font-weight: 700;
		text-transform: uppercase;
		color: $tertiary;
	}

}