.btn {
    background: $white;
    color: $primary;
    border: none;
    height: 36px;
    width: 130px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    outline: none;
    font-size: 12px;
    &:hover {
        color: $white;
        &:before {
            opacity: 1;
        }
        i {
            animation: leftAndRight 1s infinite;
        }
    }
    &:before {
        border-radius: 50px;
        opacity: 0;
        content: '';
        position: absolute;
        background: linear-gradient(to right, $primary 0%, $tertiary 100%);
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        z-index: -1;
        transition: all 0.3s ease-in-out;
    }
    &.inverted {
        background: linear-gradient(to right, $primary 0%, $tertiary 100%);
        color: $white;
        &:before {
            background: $white;
        }
        &:hover {
            color: $primary;
            &:before {
                opacity: 1;
            }
            i {
                animation: leftAndRight 1s infinite;
            }
        }
    }
    &.solid {
        background: linear-gradient(to right, $primary 0%, $tertiary 100%);
        color: $white;
        &:before {
            background: $tertiary;
        }
        &:hover {
            color: $white;
            &:before {
                opacity: 1;
            }
            i {
                animation: leftAndRight 1s infinite;
            }
        }
    }
    &.brochura {
        width: 180px;
        background: linear-gradient(to right, $primary 0%, $tertiary 100%);
        color: $white;
        &:before {
            background: $tertiary;
        }
        &:hover {
            color: $white;
            &:before {
                opacity: 1;
            }
            i {
                animation: leftAndRight 1s infinite;
            }
        }
    }
}