.heading {
	background: linear-gradient(to right, $primary 0%, $tertiary 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	margin-top: 90px;
	hgroup {
		padding: 30px 0;
		position: relative;
		&:after {
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 12.5px 15px 12.5px;
			border-color: transparent transparent $white transparent;
			bottom: -1px;
			position: absolute;
			left: 35px;
			text-transform: uppercase;
			font-size: 12px;
		}
		h2 {
			color: $white;
			font-size: 40px;
			margin: 0;
		}
	}
	@media screen and (min-width: 768px) {
		margin: 0;
	}
}