.others-list {
    padding: 0 15px;
    margin-top: 30px;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            height: 35px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ccc;
            margin-left: -15px;
            padding-left: 15px;
            a {
                display: block;
                color: $primary;
                &:hover {
                    color: $tertiary;
                    padding-left: 5px;
                }
            }
            i {
                margin-right: 10px;
            }
            strong {
                color: $tertiary;
            }
        }
    }
    h4 {
        color: $primary;
        text-transform: uppercase;
        margin: 0 0 20px;
        font-size: 18px;
    }
    @media screen and (min-width: 768px) {
        margin: 0;
        padding-left: 15px; //border-left: 1px solid #ccc;
    }
}

.content-list {
    padding-right: 30px;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        li {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0 10px;
            border-bottom: 1px solid $gray;
            margin-bottom: 10px;
            img {
                width: 100%;
            }
            h3 {
                margin: 0;
                color: $primary;
            }
            em {
                margin-bottom: 15px;
            }
            strong {
                color: $tertiary;
                text-transform: uppercase;
            }
            &:last-child {
                border-bottom: 0;
            }
            &:nth-last-child(2) {
                border-bottom: 0;
            }
            .btn {
                &.solid {
                    margin: 0 0 20px auto;
                }
            }
        }
    }
    @media screen and (min-width: 768px) {
        ul {
            justify-content: space-between;
            li {
                width: 49%;
                justify-content: space-between;
            }
        }
    }
}

.content-docs {
    padding-right: 30px;
    img {
        width: 100%;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        li {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0 10px;
            border-bottom: 1px solid $gray;
            margin-bottom: 10px;
            &.documento {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 15px 10px;
            }
            h3 {
                margin: 0;
                color: $primary;
            }
            em {
                margin-bottom: 15px;
            }
            strong {
                color: $tertiary;
                text-transform: uppercase;
            }
            &:last-child {
                border-bottom: 0;
            }
            .btn {
                &.solid {
                    margin: 0 0 20px auto;
                }
            }
        }
    }
}