.modal {
	padding: 20px;
	.iziModal-content {
		height: 270px;
	}
	form {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 0 15px;
		.input {
			width: 100%;
			margin-bottom: 15px;				
		}
		.textarea {
			margin-bottom: 10px;				
			width: 100%;
			height: 115px;
		}
		.btn {
			margin-left: auto;
		}
	}
	.modal-close {
		position: absolute;
		top: -10px;
		right: -10px;
		width: 25px;
		height: 25px;
		background: #000;
		border-radius: 50%;
		border: 1px solid #fff;
		color: #fff;
		font-size: 12px;
		text-transform: uppercase;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
	@media screen and (min-width: 768px) {
		form {
			padding: 0;
			.input {
				width: 49%;
				margin-bottom: 30px;
			}
		}
	}
}