a {
	transition: all 0.3s ease-in-out;
	text-decoration:none;
	&:hover {
		text-decoration: none;
	}
}
.slick-arrow {
	position: absolute;
	top: 50%;
	font-size: 100px;
	line-height: 100px;
	transform: translateY(-50%);
	cursor:pointer;
	&.prev,&.prev-featured {
		left: 5px;
	}
	&.next,&.next-featured {
		right: 5px;
	}
	&.prev, &.next, &.prev-featured, &.next-featured {
		color: $primary;
	}
	@media screen and (min-width:768px) {
		&.prev,&.prev-featured {
			left: 20px;
		}
		&.next,&.next-featured {
			right: 20px;
		}		
	}
}