.orcamento{
	.budget-form {
		position: relative;
		form {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 0 0 15px;
			.input {
				width: 100%;
				margin-bottom: 15px;				
			}
			.textarea {
				margin-bottom: 10px;				
				width: 100%;
				height: 115px;
			}
			.btn {
				margin-left: auto;
			}
		}
		div.alert {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(17,23,41,.9);
			z-index: 5;
			color: #fff;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			display: none;

			&.error {
				i {
					color: #cb2832;
				}
			}

			i {
				font-size: 70px;
				color: #33cc33;
			}
			p {
				margin: 0;
				font-size: 20px;
			}
			p:last-child {
				color: #fff;
				text-transform: uppercase;
				font-style: italic;
				font-size: 41px;
				font-weight: 300;
				letter-spacing: 2px;
			}
		}
	}
	@media screen and (min-width: 768px) {
		.budget-form {
			form {
				padding: 0;
				.input {
					width: 49%;
					margin-bottom: 30px;
				}
			}
		}
	}
}