.banner {
	overflow: hidden;
	position: relative;
	margin-top: 90px;
	.container {
		height: 250px;
		a {
			display: block;
			height: 250px;
			img {
				display: block;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				overflow: hidden;
				height: 100%;
			}
		}
	}
	@media screen and (min-width: 768px) {
		margin-top: 0px;
		.container {
			height: 474px;
			a {
				height: 474px;
			}
		}
	}
}