.quem-somos {
    text-align: justify;
    hr{
        margin: 30px 0;
    }
  .box-quem-somos {
    max-width: 360px;
    box-shadow: 0px 0px 11.64px 0.36px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
    background-color: $gray-lighter;
    border: 1px solid #fff;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
    .box-content {
      padding: 0 15px 10px;
      strong {
        font-size: 18px;
        line-height: 18px;
        margin: 15px 0;
        display: inline-block;
      }
      p {
        margin: 0;
      }
    }
  }
  .parceiros {
    display: flex;
    flex-direction: column;
    .box-parceiros {
      box-shadow: 0px 0px 11.64px 0.36px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      overflow: hidden;
      background-color: #f5f4f4;
      border: 1px solid #fff;
      transition: all 0.3s ease-in-out;
      margin: 0 0 20px;
      padding: 10px;
      text-align: center;
      img{
        width: 100%;
      }
    }
    @media screen and (min-width: 768px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      .box-parceiros {
        width: 30%;
        margin: 10px;
      }
    }
  }
}