/*******************************************
	Colors
********************************************/
$black: #000000;
$white: #FFFFFF;

$primary: #4C0112;
$secondary: #590421;
$tertiary: #AD2A5A;

$gray: #BFBFBF;
$gray-lighter: #E8F0F0;
$gray-darker: #343434;

/*******************************************
	Responsive variables
********************************************/

$small: 768px;
$large: 1200px;

