.content-full {
	padding: 0 15px;
	h2,h3 {
		color: $tertiary;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 17px;	
	}
	img{
		width: 100%;
	}
	@media screen and (min-width: 768px) {
		padding-left: 0;
		padding-right: 15px;

	}
}