.contact-box {
	padding: 40px 0;
	.container{
		&.flex {			
			justify-content: center;
    flex-direction: column;
    align-items: center;
		}
	}
	.social-bottom {
		list-style-type: none;
		margin: 20px 0 0;
		padding:0;
		display: flex;
		align-items: center;
		justify-content: center;
		li {
			&:first-child {
				margin-right: 15px;
			}
			a {
				display: block;
				width:30px;
				height: 30px;
				border-radius: 50%;
				background: $primary;
				color: white;
				display: flex;
				justify-content: center;
				align-items: center;

			}
		}
	}
	.contact-info {
		font-family: $open-sans;
		font-size: 14px;
		margin-top: 20px;
		h5 {
			font-weight: 400;
			font-size: 22px;
			color: $tertiary;
			margin: 0 0 15px;
		}
		ul {
			margin: 0;
			padding: 0;
			color: $primary;
			list-style-type: none;
			i{
				color: $tertiary;
				position: absolute;
				left: 0;
				top: 2px;
			}
			li {
				padding-left: 25px;
				padding-bottom:10px;
				position: relative;
				&:last-child {
					margin-top: 10px;
				}
						a{
		color: $primary;
		}

			}
		}
	}
	.fb-like-box {
		width: 360px;
		display: none;
	}
	@media screen and (min-width: 768px) {
		.container {
			&.flex {
				justify-content: space-between;
				flex-direction: row;
			}
		}
		.fb-like-box {
			display: block;
		}
		.contact-info {
			margin-top: 0;
			h5 {
				margin: 0 0 35px;
			}
		}
	}
}