.featured {
	position: relative;
	.container {
		&.flex {
			flex-direction: column;
		}
	}
	.block-header {
		margin: 40px auto 80px;
	}
	.featured-list {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		.featured-item {
			padding:0 10px 40px;
			width: 100%;
			a {
				display: block;
				width: 100%;
				border-radius: 50%;
				overflow: hidden;
				max-width: 234px;
				height: 234px;
				margin: 0 auto;
				position: relative;
				color: $white;
				font-size: 16px;
				img {
					object-fit: cover;
					width: 100%;
					transition: all 0.3s ease-in-out;
					position: absolute;
					top: 50%;
					transform: translateX(-50%) translateY(-50%);
					left: 50%;
				}
				span {
					position: absolute;
					border-radius: 50%;					
					display: flex;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					align-items: center;
					justify-content: center;
					opacity: 0;
					transition: all 0.3s ease-in-out;
					@include background-opacity($primary, 0.8);
				}
				&:hover {
					span {
						opacity: 1;
						left: 10px;
						top: 10px;
						right: 10px;
						bottom: 10px;
					}
					img {
						width: 110%;
					}
				}
			}
			h4 {
				font-weight: normal;
				font-size: 22px;
				line-height: 22px;
				margin-bottom: 15px;
			}
			p {
				font-size: 16px;
			}
		}
	}
	@media screen and (min-width:768px){
		.featured-list {
			.featured-item {
				width:25%;
			}
		}
		.prev-featured, .next-featured {
			display: none;
		}
	}
	&.insumos{
		padding: 30px 0;
	}
}