body {
	margin:0;
	font-family: $lato;
	font-size: 14px;
	color: $gray-darker;
}
* {
	box-sizing: border-box;
	opacity:1;
}
.container {
	margin: 0 auto;
	padding:0 15px;
	@media screen and (min-width: 1200px) {
		width: 1170px;
		
	}
	&.flex{
		display: flex;
		&.between {
			justify-content: space-between;
		}
		&.center {
			justify-content: center;
		}
	}
	&.full {
		overflow: hidden;
		width:100%;
		padding:0;		
	}
	&.sidebar {
		display: flex;
		flex-direction: column;
		padding: 50px 0;
		.content-full,
		.content-list {
			width: 100%;
		}
		.others-list {
			width: 100%;
		}
		.botoes{
			display: flex;
			justify-content: space-around;
		}

		@media screen and (min-width: 768px) {
			flex-direction: row;
			.content-full,
			.content-list,
			.content-docs {
				width: 70%;
			}
			.others-list {
				width: 30%;
			}
		}
	}
}