.header {
	margin:0;
	position: fixed;
	z-index: 10;
	.top-header {
		display: none;
		margin: 0;
		height: 50px;
		background: linear-gradient(to right, $primary 0%, $tertiary 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		justify-content: center;
		align-items: center;
		.contact-list,
		.social-list {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			a {
				color: $white;
			}
		}
		.contact-list {
			a{
				margin-right: 40px;
				i {
					margin-right: 5px;
				}
			}
		}
		.social-list {
			a {
				font-size: 22px;
				margin-left: 22px;
			}
		}
	}
	.nav-header {		
		background-color: #fff;
		box-shadow: 1px 3px 4px 0 rgba(0,0,0,.1);
		width: 100%;
		position: fixed;
		top: 0;
		.container {
			display: block;
			height: 90px;
			padding:0;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			overflow: hidden;
			background-color: #fff;
		}

		li {
			a {
				display: block;
				padding: 10px 15px;;
				text-decoration: none;
				color: $primary;
				text-transform: uppercase;
				transition: all .3s ease-in-out;
				&:hover {
					color: $tertiary;
				}
			}
		}

		.logo {
			float: left;
			padding: 10px 0 0 15px;
			display: inline-block;
			img {
				max-width: 100px;
			}
		}

		/* menu */

		.menu-list {
			clear: both;
			transition: all .4s ease-out;
			box-shadow: 1px 3px 4px 0 rgba(0,0,0,.1);
			position: absolute;
			width: 100%;
			top: 90px;
			right: -100vh;
			height: calc(100vh - 90px);
			z-index: 0;
			background: rgba(0,0,0,0.5);
			padding: 0 0 0 10vw;
			.menu-item {
				background: #fff;
				.megamenu {
					background: rgba(0,0,0,0.1);
					padding: 0 0 0 10px;
					.container {
						height: auto;
					}
					.mega-item {
						background: rgba(0,0,0,0.1);
					}
				}
			}
			@media screen and (min-width: 768px) {
				position:static;
				width: auto;
				top: auto;
				right: auto;
				height: auto;
				padding: initial;
				&:before {
					display: none;
				}
			}
			
		}

		/* menu icon */

		.menu-icon {
			cursor: pointer;
			display: inline-block;
			float: right;
			padding: 44px 25px 44px 10px;
			position: relative;
			position: relative;
			user-select: none;
			.navicon {
				background: $primary;
				display: block;
				height: 2px;
				position: relative;
				transition: background .2s ease-out;
				width: 18px;
				&:before, &:after {
					background: $primary;
					content: '';
					display: block;
					height: 100%;
					position: absolute;
					transition: all .2s ease-out;
					width: 100%;
				}
				&:before {
					top: 5px;
				}
				&:after {
					top: -5px;
				}
			}
		}

		/* menu btn */

		.menu-btn {
			display: none;
			&:checked ~ {
				.menu-list {
					overflow: scroll;
					right: 0;
				}
				.menu-icon {
					.navicon {
						background: transparent;
						&:before {
							transform: rotate(-45deg);
						}
						&:after {
							transform: rotate(45deg);
						}
					}
					&:not(.steps) .navicon {
						&:before, &:after {
							top: 0;
						}
					}
				}
			}
		}

	}
	@media (min-width: 48em) {
		position: static;
		.top-header {
			display: flex;
		}
		.nav-header {
			position: relative;
			box-shadow: none;
			height: 115px;
			display: flex;
			align-items: center;
			.container {
				display: flex;
				height: 100%;
				padding: 0 15px;
				align-items:center;
			}
			.logo {
				padding:0;
				float: none;
				display: initial;
				img {
					max-width: initial;
				}
			}
			.menu-list {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				align-items: center;
				list-style: none;
				font-size: 15px;
				overflow: initial;
				max-height: none;
				box-shadow:none;
				float: none;
				height: 100%;
				background:#fff;
				z-index: 10;
				.menu-item {
					height: 100%;
					display: flex;
					align-items: center;
					margin-left: 15px;
					padding: 0;
					.megamenu {
						height: 0;
						overflow: hidden;
						background: $tertiary;
						position: absolute;
						left: 0;
						top: 115px;
						width: 100%;
						transition: all 0.3s ease-in-out;
						z-index: 80;
						box-shadow: 1px 3px 4px 0 rgba(0,0,0,.2);

						.mega-list {
							background: transparent;
							display: flex;
							flex-direction: column;
							flex-wrap: wrap;
							height: 200px;
							width: 100%;
							.mega-item {
								border-left: 1px solid $gray;
								height: 20%;
								display: flex;
								align-items: center;
								background: none;
								a {
									color: $white;
									padding: 0 0 0 15px;
									&:hover {
										color: $primary;
									}
								}
							}
						}
					}
					&:hover {
						.megamenu {
							height: 200px;
						}
					}

				}
			}
			.menu-icon {
				display: none;
			}
		}
	}
}