.news {
	margin: 0 0 55px;
	.container {
		&.flex {
			flex-direction: column;
		}
	}
	.block-header{
		margin: 50px auto 85px
	}
	.news-list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		figure {
			display: none;
			margin: 0;
			position: relative;
			height: 250px;
			overflow: hidden;
			img {
				object-fit: cover;
				width: 100%;
				transition: all 0.3s ease-in-out;
				position: absolute;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
				left: 50%;
			}
		}
		.news-item {
			max-width: 360px;
			box-shadow: 0px 0px 11.64px 0.36px rgba(0, 0, 0, 0.25);
			border-radius: 10px;
			overflow: hidden;
			background-color: $gray-lighter;
			border: 1px solid #fff;
			transition: all 0.3s ease-in-out;
			margin-bottom: 20px;
			.news-content {
				padding: 0 15px 10px;
				strong {
					font-size: 18px;
					line-height: 18px;
					margin: 15px 0;
					display: inline-block;
				}
				p {
					margin: 0;
				}
			}
			.news-links {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 25px 0 0;
			}
			.category {
				color: $tertiary;
				text-transform: lowercase;
			}
			&:hover {
				background: $primary;
				color: $white;
				figure {
					img {
						width: 110%;
					}
				}
				.btn {
					&.inverted {
						color: $primary;
						&:before {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	@media screen and (min-width:768px) {
		.news-list {
			flex-direction: row;

			figure {
				display: block;
			}
			.news-item {
				margin-bottom: 0;
			}
		}
	}
}