.newsletter {	
	background: $primary;
	display: flex;
	
	.container {
		align-items:center

	}
	.form {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 20px 0;
		legend {
			font-family: $open-sans;
			font-size: 35px;
			line-height: 35px;
			font-weight: 300;
			text-transform: uppercase;
			color: $tertiary;
			margin-bottom: 18px;
			text-align: center
		}
		input {
			width: 100%;
			margin-bottom: 15px;
		}
	}
	@media screen and (min-width:768px) {
		height: 170px;
		flex-direction: row;
		.form {
			flex-direction: row;
			padding: 0;
			legend {
				margin-bottom: 0;
				margin-right: 18px;
			}
			input {
				width: 240px;
				margin-right: 15px;
				margin-bottom: 0;
			}
			button {
				margin-left: 25px;
			}
		}
	}
}